.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/*#region utility-button*/

.utility-button {
    border: none;
    /* border: 1px solid white; */
    padding: 0.5em 1em;
    transition: background-color 0.1s, border-radius 0.1s ease-in-out,
        transform 0.1s;
    border-radius: 0.5%;
}

.utility-button:hover {
    background-color: #424242;
    border-radius: 0.15em;
    transform: scale(110%);
}

.utility-button:active {
    background-color: #626262;
}

/*#endregion*/
